@font-face {
    font-family: 'Realize';
    src: url('/fonts/realize.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Havana';
    src: url('/fonts/havana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pecita';
    src: url('/fonts/pecita.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verbenac';
    src: url('/fonts/verbenac.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Good Day';
    src: url('/fonts/good_day.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Epsilon';
    src: url('/fonts/epsilonCTT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('/fonts/calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fusion';
    src: url('/fonts/fusion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Verona';
    src: url('/fonts/verona.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/fonts/openSansCondensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/bebasNeueLight.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Benguiat Gothic';
    src: url('/fonts/benguiatGothicCTT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Canis Minor';
    src: url('/fonts/canis_minor.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Marske';
    src: url('/fonts/marske.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metro Color';
    src: url('/fonts/metroColor.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Monoton Regular';
    src: url('/fonts/monotonRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neoneon';
    src: url('/fonts/neoneon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neuropol';
    src: url('/fonts/neuropol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Square 721';
    src: url('/fonts/square721bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zamenhof Inverse';
    src: url('/fonts/zamenhof_inverse.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}